<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"border":{"radius":{"topLeft":"24px","topRight":"24px"}},"spacing":{"padding":{"right":"var:preset|spacing|medium","left":"var:preset|spacing|medium"}}},"layout":{"type":"constrained","contentSize":"1440px"}} -->
<main class="wp-block-group" style="border-top-left-radius:24px;border-top-right-radius:24px;padding-right:var(--wp--preset--spacing--medium);padding-left:var(--wp--preset--spacing--medium)"><!-- wp:group {"className":"billboard","style":{"color":{"gradient":"linear-gradient(180deg,rgb(228,234,239) 0%,rgba(228,234,239,0) 100%)"},"spacing":{"padding":{"top":"var:preset|spacing|large","bottom":"var:preset|spacing|large"},"blockGap":"0","margin":{"bottom":"0"}},"border":{"radius":{"topLeft":"24px","topRight":"24px"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group billboard has-background" style="border-top-left-radius:24px;border-top-right-radius:24px;background:linear-gradient(180deg,rgb(228,234,239) 0%,rgba(228,234,239,0) 100%);margin-bottom:0;padding-top:var(--wp--preset--spacing--large);padding-bottom:var(--wp--preset--spacing--large)"><!-- wp:post-title {"textAlign":"center","fontSize":"xx-large"} /-->

<!-- wp:paragraph {"align":"center","style":{"typography":{"letterSpacing":"-0.03em","fontStyle":"normal","fontWeight":"500"}},"fontSize":"medium","fontFamily":"inter"} -->
<p class="has-text-align-center has-inter-font-family has-medium-font-size" style="font-style:normal;font-weight:500;letter-spacing:-0.03em">Discover your next full-time gig or your next freelance contract.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:post-content {"layout":{"type":"default"}} /--></main>
<!-- /wp:group -->